asgiref
colorama
Django
django-cors-headers
django-filter
djangorestframework
importlib-metadata
Markdown
mysqlclient
Pillow
python-dateutil
pytz
qrcode
six
sqlparse
tzdata
whitenoise
zipp
channels-redis
channels["daphne"]

